body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('lib/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.dancer {
  height: 50px;
  position: absolute;
  animation-duration        : 2s;
  animation-fill-mode       : both;
  animation-iteration-count : infinite;
  animation-timing-function : linear;
  transform-origin          : bottom;
}

/* Dancer Classes */

.whale {
  animation-name: whaleMove;
}

.turtle {
  animation-name: turtleMove;
}

.starfish {
  animation-name: starfishMove;
}

/* Dancer Moves */
/* whale move */

@-webkit-keyframes whaleMove {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@-moz-keyframes whaleMove {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@-o-keyframes whaleMove {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes whaleMove {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* starfish move */

@-webkit-keyframes starfishMove {
  0%   { transform: scale(1, 1) ; }
  50%  { transform: scale(1.2, 1.2) ; }
}
@-moz-keyframes   starfishMove {
  0%   { transform: scale(1, 1) ; }
  50%  { transform: scale(1.2, 1.2) ; }
}
@-o-keyframes     starfishMove {
  0%   { transform: scale(1, 1) ; }
  50%  { transform: scale(1.2, 1.2) ; }
}
@keyframes        starfishMove {
  0%   { transform: scale(1, 1) ; }
  50%  { transform: scale(1.2, 1.2) ; }
}

/* turtle move */

@-webkit-keyframes turtleMove {
  0%   { transform: translate(0%, 0%) ; }
  20%  { transform: translate(0, 20%) ; }
  50%  { transform: translate(20%, 20%) ; }
  80%  { transform: translate(20%, 0%) ; }
}
@-moz-keyframes   turtleMove {
  0%   { transform: translate(0%, 0%) ; }
  20%  { transform: translate(0, 20%) ; }
  50%  { transform: translate(20%, 20%) ; }
  80%  { transform: translate(20%, 0%) ; }
}
@-o-keyframes     turtleMove {
  0%   { transform: translate(0%, 0%) ; }
  20%  { transform: translate(0, 20%) ; }
  50%  { transform: translate(20%, 20%) ; }
  80%  { transform: translate(20%, 0%) ; }
}
@keyframes        turtleMove {
  0%   { transform: translate(0%, 0%) ; }
  20%  { transform: translate(0, 20%) ; }
  50%  { transform: translate(20%, 20%) ; }
  80%  { transform: translate(20%, 0%) ; }
}
