body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('lib/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.dancer {
  height: 50px;
  position: absolute;
}

/* Dancer Classes */

.starfish {
  height: 50px;
  position: absolute;
  animation-duration        : 0.5s;
  animation-fill-mode       : both;
  animation-iteration-count : infinite;
  animation-name            : starfishMove;
  animation-timing-function : linear;
  transform-origin          : bottom;
}

.turtle {
  height: 50px;
  position: absolute;
  animation-duration        : 0.5s;
  animation-fill-mode       : both;
  animation-iteration-count : infinite;
  animation-name            : turtleMove;
  animation-timing-function : linear;
  transform-origin          : bottom;
}

.whale {
  height: 50px;
  position: absolute;
  animation-duration        : 2s;
  animation-fill-mode       : both;
  animation-iteration-count : infinite;
  animation-name            : whaleMove;
  animation-timing-function : linear;
  transform-origin          : bottom;
};

/* Dancer Moves */

@keyframes whaleMove {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes starfishMove {
  0%   { transform: scale(1, 1) ; }
  50%  { transform: scale(1.2, 1.2) ; }
}

@keyframes turtleMove {
  0%   { transform: translate(0%, 0%) ; }
  20%  { transform: translate(0, 20%) ; }
  50%  { transform: translate(20%, 20%) ; }
  80%  { transform: translate(20%, 0%) ; }
}

